footer {
    background-color: #2e302e;
    color: #e9efe8;
    padding-top: 1px;
    max-width: 992px;
    margin: 0 auto;
}

.footer-content {

    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 10px 20px 15px;
    margin-bottom: 0;

    h1 {
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        padding-bottom: 10px;
    }

  a {
        text-decoration: none;
        color: white;
        font-size: 12px;
        margin: 0;
        padding-bottom: 7px;
    }

    &__item {
        display: flex;
        flex: 1;
        gap: 10px;
    }

    &__icon {
    display: flex;
    align-items: center;
    font-size: 11px;
    }
}