.menu-entrée {
    animation: entrée-load 1s ease-in-out normal forwards;
    transform-origin: top;
}

@keyframes entrée-load {
    0% { opacity: 0; transform: scaleY(0.5);}
    25% { opacity: 0; transform: scaleY(0.5);}
    100% { opacity: 1; transform: scaleY(1);}
}

.menu-meal {
    animation: meal-load 2s ease-in-out normal forwards;
    transform-origin: top;
}

@keyframes meal-load {
    0% { opacity: 0; transform: scaleY(0.5);}
    50% { opacity: 0; transform: scaleY(0.5);}
    100% { opacity: 1; transform: scaleY(1);}
}

.menu-dessert {
    animation: dessert-load 3.5s ease-in-out normal forwards;
    transform-origin: top;
}

@keyframes dessert-load {
    0% { opacity: 0; transform: scaleY(0.5);}
    50% { opacity: 0; transform: scaleY(0.5);}
    100% { opacity: 1; transform: scaleY(1);}
}