.menu-page {
    position: relative;
}

.menu-banner {
    position: relative;
    height: 200px;
    width: 100%;

    &__img {
        height: 300px;
        width: 100%;
    }
}

.menu {
    position: relative;
}