@charset "UTF-8";
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#main_wrapper {
  max-width: 992px;
  margin: 0 auto;
  height: 100%;
}

* {
  font-family: Roboto, arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Shrikhand, arial, sans-serif;
}

h2 {
  font-size: 20px;
}

.home-logo {
  font-size: 15px;
}

.primary-button {
  border-radius: 30px;
  background-color: rgb(147, 86, 220);
  background-image: linear-gradient(176deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 63%);
  box-shadow: 1px 1px 10px grey;
  color: white;
  text-decoration: none;
}

.home-explore__button {
  padding: 13px 20px 13px 20px;
}

.menu-order__button {
  padding: 10px 20px 10px 20px;
}

header {
  display: flex;
  justify-content: center;
}

.home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.home-logo h1 {
  margin-top: 7px;
  margin-bottom: 5px;
}

.header-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-arrow {
  position: relative;
  left: 0;
  margin-left: 15px;
  font-size: 22px;
}

footer {
  background-color: #2e302e;
  color: #e9efe8;
  padding-top: 1px;
}

.footer-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.footer-content h1 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
.footer-content p {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.footer-content__item {
  display: flex;
  flex: 1;
  gap: 10px;
}
.footer-content__icon {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.menu-page {
  position: relative;
}

.menu-banner {
  position: relative;
  height: 200px;
  width: 100%;
}
.menu-banner__img {
  min-height: 250px;
  max-height: 1200px;
  width: 100%;
}

.menu {
  position: relative;
}

.menu {
  background-color: #f6f7f4;
  border-radius: 30px 30px 0px 0px;
  padding-top: 30px;
}

.menu-restaurant {
  display: flex;
  flex: 1;
  margin-top: 0;
  justify-content: space-evenly;
  align-items: center;
}
.menu-restaurant h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 400;
}
.menu-restaurant__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.menu-entrée, .menu-meal, .menu-dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-type {
  color: #6f706d;
  font-size: 16px;
  display: flex;
  width: 90%;
  font-weight: 400;
  position: relative;
  padding-bottom: 5px;
}

.menu-type::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.menu-item {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding-left: 7px;
  overflow: hidden;
}
.menu-item__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.menu-item__title {
  margin: 0;
  font-size: 16px;
}
.menu-item__info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}
.menu-item__info p {
  margin: 3px 0px 0px 0px;
  font-size: 14px;
}
.menu-item__txt {
  color: #6f706d;
}
.menu-item__price {
  font-weight: 900;
  color: #2e3333;
  text-align: right;
  padding-right: 15px;
}
.menu-item__anim {
  width: 50px;
  height: 100%;
  background-color: #99E2D0;
  margin-right: -60px;
  display: flex;
  font-size: 30px;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  align-items: center;
  transition: margin 700ms;
}
.menu-item:hover .menu-item__anim {
  margin-right: 0px;
}
.menu-item__check {
  background-color: white;
  border-radius: 50%;
  font-size: 15px;
  padding: 3px;
  color: #99E2D0;
}
.menu-item:hover .menu-item__check--rotate {
  transform: rotate(-360deg);
  transition: transform 600ms ease-in-out;
}

.menu-order {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-top: 30px;
}

.home-explore {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home-explore__location {
  display: flex;
  justify-content: center;
  background-color: #ecedea;
  box-shadow: 3px 3px 7px #494948;
  margin: 0;
}
.home-explore__location p {
  font-weight: 900;
  color: #494948;
  margin: 10px 0px 10px 0px;
}
.home-explore__icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.home-explore__reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f7f4;
  padding-bottom: 50px;
}
.home-explore__reserve__reserve + p {
  color: grey;
}
.home-explore__reserve h2 {
  margin: 30px 0px 0px 0px;
}

.home-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 30px;
}
.home-guide h2 {
  width: 90%;
  align-items: flex-start;
}
.home-guide__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 90%;
}
.home-guide__step {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: #f6f7f4;
  border: 1px solid #f6f7f4;
  border-radius: 20px;
  margin: 15px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 5px 10px lightgrey;
  position: relative;
}
.home-guide__icon {
  display: flex;
  flex: 1;
  justify-content: center;
}
.home-guide__txt {
  display: flex;
  flex: 3;
  font-weight: 900;
}
.home-guide__number {
  position: absolute;
  left: -15px;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  background-color: #9356DC;
}

.home-rest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f6f7f4;
  padding-bottom: 60px;
}
.home-rest h2 {
  width: 90%;
  align-items: flex-start;
  margin: 30px 0px 0px 0px;
}
.home-rest__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  width: 90%;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
}
.home-rest__img-container {
  display: flex;
  overflow: hidden;
  flex-basis: 150px;
}
.home-rest__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.home-rest__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-rest__txt {
  color: black;
  margin-left: 10px;
}
.home-rest__txt h3 {
  font-size: 14px;
  margin-bottom: 0;
}
.home-rest__txt p {
  font-size: 12px;
  margin-top: 4px;
}
.home-rest__heart {
  margin-right: 18px;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .home-guide__container {
    width: 90%;
    flex-direction: row;
  }
  .home-guide__step {
    margin-right: 15px;
    margin-left: 15px;
  }
  .home-guide__txt {
    flex: 2;
  }
  .home-rest {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
  }
  .home-rest__item {
    min-width: 300px;
  }
}/*# sourceMappingURL=main.css.map */