.load-screen {
    animation: load-screen 3s ease-in-out normal forwards; 
}

@keyframes load-screen {
    from {  opacity: 0; }
    to {  opacity: 1;}
}

.load-anim {
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        margin: auto;
        border: 15px solid #fff;
        border-radius: 50%;
        border-top: 15px solid $color-primary;
        border-bottom: 15px solid $color-tertiary;
        width: 75px;
        height: 75px;
        animation: load-icon 2s ease-in-out forwards;
        position: fixed;
        top: 50%;
        z-index: 2;
}

}

@keyframes load-icon {
    0% { transform: rotate(0deg); opacity: 1; }
    100% { transform: rotate(360deg); opacity: 0;}
}
