.load-screen {
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        position: fixed;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        z-index: 1;
        border: 4px dotted $color-primary;
        border-radius: 50%;
        animation: load-icon 3s ease-in-out alternate forwards;
}

}

@keyframes load-screen {
    from {  opacity: 0; }
    to {  opacity: 1;}
}

@keyframes load-icon {
    from {transform: rotate(-360deg);}
    to {transition: transform 600ms ease-in-out;}
}
