.primary-button {
        
        border-radius: 30px;
        background-color: rgb(147,86,220);
        background-image: linear-gradient(176deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 63%);
        box-shadow: 1px 1px 10px grey;
        color: white;
        text-decoration: none;
}

.home-explore__button {
    padding: 13px 20px 13px 20px;
}

.menu-order__button {
    padding: 10px 20px 10px 20px;
}