.primary-button {
        
    border-radius: 30px;
    background: $background-gradient;
    background: linear-gradient(176deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 85%);
    box-shadow: 1px 1px 10px grey;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;

    &:hover  {
        &::after {
            opacity: 1;     
    }
    }

    &::after {
        content: "";
        position: absolute;
        border-radius: 30px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(176deg, rgba(254,144,223,1) 0%, rgba(160,109,221,1) 85%);
        box-shadow: 2px 2px 10px grey;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

.home-explore__button {
    padding: 13px 20px 13px 20px;
}

.menu-order__button {
    padding: 13px 45px 13px 45px;
}

