$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #f6f7f4;
$color-faded: #6f706d;

$font-size-title: 17px;
$font-size-large: 25px;
$font-size-rest-title: 28px;
$font-size-menu-type: 18px;
