$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-dark: #25836c;
$color-background: #f6f7f4;
$color-faded: #6f706d;

$background-gradient: rgb(255,121,218);

$font-size-title: 15px;
$font-size-large: 20px;
$font-size-rest-title: 28px;
$font-size-menu-type: 16px;